.section-wrapper {
  position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;

  .section {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: $black;
		transition: 1s ease;
		overflow: hidden;

		.hidden {
			display: none;
		}
		.visible {
			display: block;
		}

		.top-title {
			position: absolute;
			top: 20px;
			left: 20px;
			color: #fff;
			font-family: "mistral";
			font-size: 85px;
			transform: rotate(-17deg);
		}

    &__inner {
      width: 80%;
			height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

		.sns-wrapper {
			position: absolute;
			bottom: 0;
			right: 0;

			.sns-icon-list {
				display: flex;
				justify-content: right;
				align-items: flex-end;

				.sns-icon {
					width: 64px;
					height: 64px;

					a {
						display: block;
						width: 100%;
						height: 100%;
						position: relative;
						text-align: center;
						i {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: #fff;
							font-size: 48px;
						}
					}
				}
			}
		}
  }
}
