.footer {
  @include pc {
    display: none;
  }

  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;

  .footer-wrapper {
    display: flex;
    justify-content: space-around;
  
    .footer-icon {
      width: 17.5vw;
      height: 17.5vw;

      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        i {
          color: #fff;
          font-size: 12vw;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .hamburger-wrapper {
      position: relative;
      z-index: 30;
      box-sizing: border-box;

      #hamburger-menu {
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 30;
        transition: transform .3s;

        span, &:before, &:after {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 63%;
          height: 3px;
          margin: auto;
          background: #fff;          
        }

        &:before, &:after {
          transition: transform .2s;
        }

        span {
          overflow: hidden;
          z-index: 35;
          background: #fff;
          opacity: 1;
          transition: opacity .2s;
        }

        &:before {
          z-index: 40;
          transform: translate(0, -3.5vw);
          content: "";
        }

        &:after {
          z-index: 40;
          transform: translate(0, 3.5vw);
          content: "";
        }

        &.active {
          transform: rotate(180deg);

          span {
            opacity: 0;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}