#works {
  // top: 200vh;
  // left: 0;

  .section__inner {
    .capture-wrapper {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-bottom: 20px;

      a {
        display: block;
        width: 19.8%;
        height: 100%;

        img {
          width: 100%;
        }
      }
    }
    .site-description {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-family: "Century Gothic";

      .linked-img {
        width: 50%;
        display: block;
        img {
          width: 100%;
        }
      }
      .no-link-img {
        width: 50%;
      }

      &__text {
        padding-left: 20px;
        width: 50%;
        box-sizing: border-box;

        .description-title {
          font-size: 24px;
          font-weight: normal;
          margin-bottom: 6px;
        }
        .description-sentence {
          margin-bottom: 9px;
          font-size: 18px;

          a:hover, em {
            text-decoration: underline;
          }
        }
        .whatiused {
          font-size: 22px;
        }
        .used-skill {
          font-style: normal;
          color: $green;
          font-weight: bold;
          font-size: 26px;
          line-height: 1.4;
        }
      }
    }
  }
}